header{
    min-height: 100px;
    background-color: black;
}


.jumbotron{
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    min-height: 600px;
}


.playstation-5{
    min-height: 600px;
    background-color: lightgray;
}

.takes-two{
    min-height: 600px;
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}