.header-top{

    background-color: black;
}


.jumbotron{
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    min-height: 600px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* CARD */

.bs-card-bg{
    background-color: transparent;
}

.card{
    border-width: 0;
}


/* TAKES TWO */
.takes-two{

    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.takes-two img{
    width: 65%;
}


/* NEW RELEASES */
.new-releases{
    background-color: #1F1F1F;
    padding-top: 20px;
    padding-bottom: 50px;
}

.playstation-4{
    min-height: 500px;
    background-color: grey;
}


.plus{
    background-color:#BEBCBB ;
}

.store{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* NOW */
.now{
    background-color: #161C3B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.play-now-img{
    width: 50%;
}

/* FOOTER */

footer{
    background-color: #00439C;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-bottom img{
    width: 25%;
}

footer li a{
    text-decoration: none;
    color: white;

}

footer ul{
    list-style-type: none;

}